<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NOTES APP</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  </head>

  <body>
    <div style="margin-top: 50px" class="ui container">
      <h1 class="ui center aligned header">NOTES APP</h1>

      <form class="ui form" action="/add" method="post">
        <div class="field">
          <label for="title">My Notes</label>
          <input type="text" name="title" placeholder="your note..." /><br />
        </div>
        <button type="submit" class="ui blue button">Add</button>
      </form>

      {% for note in all_notes %}
      <div class="ui segment">
        <p class="ui big header">{{ note.content }}</p>

        {% if note.complete == false %}
        <span class="ui green label">Not complete</span>
        {% else %}
        <span>Completed</span>
        {% endif %}

        <form action="/remove/{{ note.id }}" method="POST">
          <!-- <input class="btn" type="submit" name="delete" value="Delete" /> -->
          <button type="submit" class="ui blue button">Delete</button>
        </form>

        <!-- <a href="/update/{{ note.id }}">Update</a>
          <a href="/delete/{{ note.id }}" >Delete</a> -->
      </div>
      {% endfor %}
    </div>
  </body>
</html>
